@use 'variables' as *;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* byt till webfonts??????? */
    font-family: 'Segoe UI', sans-serif;
}

button {
    cursor: pointer;
}

.wrapper {
    max-width: 1680px;
    margin: auto;
    padding: 20px 40px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {
    background-color: $primary;
}

.flex-center {
    display: flex;
    justify-content: center;
}