$primary: #6699cc;
$primary-hover: lighten($primary, 25%);

$menu-height: 60px;

$breakpoints:(
    xs: 0,
    s: 576px,
    m: 768px,
    l: 992px,
    xl: 1200px
);

$grid-columns:(
    xs: 2,
    s: 2,
    m: 4,
    l: 6,
    xl: 7
);

$details-flex-reverse: l;

$details-side-width:(
    xs: 100%,
    s: 100%,
    m: 100%,
    l: 20%,
    xl: 30%
);