<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="csrf-token" content=csrfToken)
        block head
        link(rel="stylesheet", href="/css/app.css")
        
        title=title
            |   - Movie site
    body
        .wrapper
            #vue-nav
                navbar
            block content
    block script
        script(src="/js/app.js")
        script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")