<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="csrf-token" content=csrfToken)
        title Document
    body
    
        h1 Hello World, this is a express app written with Typescript
        #app
    script(src="/js/app.js")